doctype html
include mixins
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="author" content="Fred Roenn")
    link(rel='stylesheet', href='/css/all.css')
    
    block title_hook
        title "Preferred Picture"
    //- code
  body
    block content
    //- code
  
  script(src='//code.jquery.com/jquery.js')
  script(src='/js/vendor.js')
  script(src='/js/all.js')
  script(src='/js/templates.js')